[Unit]
Description=Hardware RNG Entropy Gatherer Daemon
ConditionVirtualization=!container

# The "-f" option is required for the systemd service rngd to work with Type=simple
[Service]
Type=simple
EnvironmentFile=-/etc/sysconfig/rngd
ExecStart=/usr/sbin/rngd -f

[Install]
WantedBy=multi-user.target
